.lapse::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  bottom: 50%;
  left: 10%;
  width: 80%;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-color: black;
  z-index: 2;
}

.lapse::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  top: 50%;
  left: 10%;
  width: 80%;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: black;
}

/* ------------------------- MEDIA PRINT ------------------------- */

@media print {
  html {
    font-size: 82.5%;
    height: 100vh;
  }
  body {
    height: 100vh;
    background: white !important;
  }
  .circular {
    background: white !important;
  }
  header {
    display: none !important;
  }
  .lapse::before,
  .lapse::after {
    background-color: black !important;
  }

  .textArea[disabled] {
    background-color: white;
  }

  .textArea {
    border: none;
    resize: none;
    overflow: hidden;
    height: 100px !important;
  }
  .signature {
    margin-top: 100px;
  }
  footer > p {
    display: none;
    background-color: white;
  }
}
@media print {
  input::placeholder {
    color: transparent !important;
  } 
  textarea::placeholder {
    color: transparent !important;
  } 
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
